<!-- title "Programme of talks | #{@event.title}" -->

{% for track in tracks %}
<h4>{{ track.title }}</h4>
  {% for date_talks in track.dates %}
    <h5>{{ date_talks.date }}</h5>
    {% for talk in date_talks.talks %}
      <p>{{ talk.display_title }}</p>
      {% for speaker in talk.speakers %}
      <abbr>{{ speaker.name }}</abbr>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}