- title "News | #{@event.title}"

%h1 News
%ul.news_items
  - for story in @event_news_items
    %li[story]
      %h4
        = link_to story.headline, story
        %span
          ="#{story.item_date.to_date.to_s(:dmy_long)}"
      = story.content