<html>
  <head>
    <title>Themed {{ event.title }}</title>
  </head>
  <body>
    <header>
    <h1>{{ event.title }}</h1>
    </header>
    {{ content_for_layout }}
    <footer>
      {{ event.google_analytics }}
    </footer>
  </body>
</html>

