- if signed_in? && is_owner?(@event)
  %nav#event_admin_bar
    %ul
      -if @event.published?
        %li=link_to "Event Published", edit_user_event_url(current_user, @event, :host => request.domain)
      -else
        %li=link_to "Event Hidden", edit_user_event_url(current_user, @event, :host => request.domain)

= yield

%footer
  Powered by Eventstreams