!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %body{:class => Rails.env}
    - if signed_in? && is_owner?(@event)
      %nav#event_admin_bar
        %ul
          -if @event.published?
            %li=link_to "Event Published", edit_user_event_url(current_user, @event, :host => request.domain)
          -else
            %li=link_to "Event Hidden", edit_user_event_url(current_user, @event, :host => request.domain)
      -if @event.menu_order_main.any?
        %nav#main
          .inner
            %ul.main
              - for event_menu in @event.menu_order_main
                %li{:class => event_menu.url == request.url ? "active" : ""}
                  = link_to event_menu.title, event_menu.url
            - unless @event.booking_url.blank?
              = link_to "Register", @event.booking_url, :class=> 'register'

    = yield

    %footer
      Powered by Eventstreams